@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}

:root {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
